/* First steps
Step 1: Change to borden box */

* {
    box-sizing: border-box;
}


/* Second step: reset any style on body */
body {
    margin: 0;
    padding: 0;
}


.toolbox-cont {
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

.toolbox-cont > * {
    margin-left: 4rem;
}

.toolbox-priority-cont {
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.toolbox-priority-cont > *:hover {
    background-color: #485460;
}

.color {
    height: 1.5rem;
    width: 3rem;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.main-cont {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}


.action-btn-cont {
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
}

.action-btn-cont > * {
    font-size: 2rem;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn-cont > *:hover {
    background-color:#4BB543 ;
    cursor: pointer;
}

.modal-cont {
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: 30%;
    left: 28%;
    background-color: lightsalmon;
    /* display: flex; */
    display: none;
}

.textArea-cont {
    height: 100%;
    width: 75%;
    resize: none;
    background-color: #dfe4ea;
    font-size: 1.5rem;
    color: black;
    border: none;
    outline: none;
}

.priority-colors-cont {
    height: 100%;
    width: 25%;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.priority-color {
    height: 3rem;
    width: 5rem;
}


.ticket-cont {
    width: 15rem;
    height: 12rem;
    border-radius: 10px;
    background-color: coral;
    position: relative;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    height: 2rem;
    text-align: center;
    background-color: cornflowerblue;
}

.active {
    border: 5px solid orange;
}

.task-area {
    height: 95px;
    overflow: scroll;
}


.ticket-lock {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
}