/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.family {
  display: flex;
    justify-content: left;
    margin: 1rem;
}

.parent {
  border: 5px solid #000;
    padding: 0.5rem;
}

.children {
  border: 3px solid #ff5722;
  padding: 0.5rem 0 0 1rem;
}

.gson {
  border: 2px solid #3f51b5;
    padding: 0.5rem 0 0 1.5rem;
    margin: 0.2rem;
}

.gdaughter {
  border: 2px solid #e929ad;
    padding: 0.5rem 0 0 1.5rem;
    margin: 0.2rem;
} */
